.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(245, 129, 235);
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.link.hover {
  color: #ffffff;
}
