.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 14px;
  box-shadow: 0 0 20px 4px rgb(241, 150, 214);
  margin-top: 20px;
  border-radius: 12px;
  width: 250px;
  height: 80px;
  & button {
    border: none;
    padding: 12px 15px;
    background-color: rgb(241, 150, 214);
    border-radius: 8px;
    transition: all 0.4s ease;
    font-weight: bold;
    display: block;
    &:hover {
      background-color: rgb(241, 104, 200);
      cursor: pointer;
    }
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 10px;
  & span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
